h2 {
  display: inline-block; /* Shrinks to fit content */
  padding: 4rem 2rem;
  text-align: center;
  color: #ffffff;

  /* Center block horizontally */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
}

.about-me .highlight {
  background-color: #db5461;
  color: #121212;
  font-weight: 600;
  padding: 0.1rem 0.75rem;
  border-radius: 6px;
  font-size: 1.25 rem;
  display: inline-block;
}


.about-me {
  padding: 4rem 2rem;
  color: white;
  background-color: #212121;
}

.about-me .title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about-me-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

/* Image on left and text on right by default */
.about-me-image {
  width: 200%;
  max-width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  object-fit: cover;
}

/* image below text on small screens */
@media (max-width: 768px) {
  .about-me-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about-me-image {
    max-width: 80%;
  }
}

/* Text */
.about-me-text {
  line-height: 1.8;
}
