.intro {
    padding: 4rem 2rem;
    text-align: center;
    color: #ffffff;
  }
  
  .highlight {
    background-color: #DB5461;      
    color: #121212;                 
    font-weight: 600;
    padding: 0.5rem 0.75rem;         
    border-radius: 6px;              
    font-size: 1rem;                 
    display: inline-block;         
  }
  
  
  .name {
    font-size: 2.75rem;
    font-weight: 650;
    margin-bottom: 0.2rem;
    color: #ffffff;
  }
  
  .tagline {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #ffffff;
  }
  