.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
  background-color: #121212;
  color: white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar .logo {
  font-size: 1.75rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1px;
  background-color: #121212;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  background-color: #121212; /* Match  navbar background color */
  margin: 0;
  padding: 0;
}

.navbar .nav-link {
  background-color: #121212;
  display: inline-block;
  color: #e0e0e0;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  position: relative;
  transition: all 0.3s ease;
  will-change: transform;
}

.navbar .nav-link:hover {
  background-color: var(--hover-color);
  color: #121212;
  transform: scale(1.1) rotate(-3deg);
}

.navbar .bg-li
{
  background-color: #121212;
}

/* Hamburger */
.hamburger {
  font-size: 1.75rem;
  background: none;
  border: none;
  color: white;
  display: none;
  cursor: pointer;
  z-index: 101;
}

/* Mobile Navigation Styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #121212;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
  }

  .nav-links.open {
    max-height: 300px; /* adjust based on content height */
  }

  .nav-links li {
    text-align: right;
    padding: 0.5rem 1rem;
  }
}

