h2 {
  display: inline-block;
  padding: 4rem 2rem;
  text-align: center;
  color: #ffffff;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.projects .highlight {
  background-color: #e4acc0;
  color: #121212;
  font-weight: 600;
  padding: 0.1rem 0.75rem;
  border-radius: 6px;
  font-size: 1.25 rem;
  display: inline-block;
}
